[run]
branch = True
source = Artifactorial
omit = */migrations/*,
       */tests/*,
       */tests.py,
       */__init__.py,
       */settings.py,
       Artifactorial/admin.py

[report]
exclude_lines = pragma: no cover
