{% extends 'Artifactorial/base.html' %}
{% load static %}

{% block title %}{{ directory }}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>Index of {{ directory }}</h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'artifacts' '' %}">Root</a></li>
      {% for dir in breadcrumb %}
      {% if forloop.last %}
      <li class="active">{{ dir.0 }}</li>
      {% else %}
      <li><a href="{% url 'artifacts' dir.1 %}">{{ dir.0 }}</a></li>
      {% endif %}
      {% endfor %}
    </ol>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 5%"></th>
          <th>Name</th>
          <th style="width: 10%">Size</th>
        </tr>
      </thead>
      <tbody>
        {% for dir in directories %}
          <tr>
            <td><img src="{% get_static_prefix %}Artifactorial/img/folder.png" alt="[DIR]"></td>
            <td><a href="{{ dir }}/{% if token %}?token={{ token }}{% endif %}">{{ dir }}</a></td>
            <td>-</td>
          </tr>
        {% endfor %}
        {% for file in files %}
          <tr>
            <td><img src="{% get_static_prefix %}Artifactorial/img/unknown.png" alt="[&nbsp;&nbsp;&nbsp;]"></td>
            <td><a href="{{ file.0 }}{% if token %}?token={{ token }}{% endif %}">{{ file.0 }}</a></td>
            <td>{{ file.1|filesizeformat }}</td>
          </tr>
        {% endfor %}
        {% if not directories and not files %}
          <tr>
            <td></td>
            <td colspan="2">&lt;Empty directory&gt;</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}
