{% extends 'Artifactorial/base.html' %}
{% load static %}

{% block title %}{{ directory }}{% if user.is_authenticated %} ({{ user }}){% endif %}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>Index of {{ directory }}
    {% if user.is_authenticated %}
      <div class="btn-group pull-right">
        <a type="button" class="btn btn-info" href="{% url 'accounts.profile' %}">{{ user.get_full_name|default:user.username }}</a>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li role="separator" class="divider"></li>
          <li class="disabled"><a href="{% url 'artifacts.root' %}"><span class="glyphicon glyphicon-file"></span> Browse</a></li>
          <li><a href="{% url 'directories.index' %}"><span class="glyphicon glyphicon-folder-open"></span> Directories</a></li>
          <li><a href="{% url 'tokens.index' %}"><span class="glyphicon glyphicon-wrench"></span> Tokens</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'accounts.logout' %}"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
        </ul>
      </div>
    {% else %}
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-info" href="{% url 'accounts.profile' %}">Anonymous user</button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li role="separator" class="divider"></li>
          <li class="disabled"><a href=""><span class="glyphicon glyphicon-file"></span> Browse</a></li>
          <li><a href="{% url 'directories.index' %}"><span class="glyphicon glyphicon-folder-open"></span> Directories</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'accounts.login' %}"><span class="glyphicon glyphicon-user"></span>Sign in</a></li>
        </ul>
      </div>
    {% endif %}
    </h1>

    <ol class="breadcrumb">
      <li><a href="{% url 'artifacts' '' %}">Root</a></li>
      {% for dir in breadcrumb %}
      {% if forloop.last %}
      <li class="active">{{ dir.0 }}</li>
      {% else %}
      <li><a href="{% url 'artifacts' dir.1 %}">{{ dir.0 }}</a></li>
      {% endif %}
      {% endfor %}
    </ol>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 5%"></th>
          <th>Name</th>
          <th style="width: 10%">Size</th>
        </tr>
      </thead>
      <tbody>
        {% for dir in directories %}
          <tr>
            <td><img src="{% get_static_prefix %}Artifactorial/img/folder.png" alt="[DIR]"></td>
            <td><a href="{{ dir }}/{% if token %}?token={{ token }}{% endif %}">{{ dir }}</a></td>
            <td>-</td>
          </tr>
        {% endfor %}
        {% for file in files %}
          <tr>
            <td><img src="{% get_static_prefix %}Artifactorial/img/unknown.png" alt="[&nbsp;&nbsp;&nbsp;]"></td>
            <td><a href="{{ file.0 }}{% if token %}?token={{ token }}{% endif %}">{{ file.0 }}</a></td>
            <td>{{ file.1|filesizeformat }}</td>
          </tr>
        {% endfor %}
        {% if not directories and not files %}
          <tr>
            <td></td>
            <td colspan="2">&lt;Empty directory&gt;</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}

{% block scripts %}
<script src="{% get_static_prefix %}Artifactorial/js/jquery-3.1.0.min.js"></script>
<script src="{% get_static_prefix %}Artifactorial/js/bootstrap-v3.3.7.min.js"></script>
{% endblock %}
