{% extends 'Artifactorial/base.html' %}
{% load static %}

{% block title %}My tokens{% endblock %}

{% block nav_tokens %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <h1>Tokens for «{{ user.get_full_name|default:user.username }}»</h1>
    <p>Here is the list of all the tokens you can use to create and/or access to private artifacts.</p>
    <p>You can also <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createModal">create a new token <span class="glyphicon glyphicon-plus-sign"></span></button>.</p>

    <div class="modal fade" id="createModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Creating a token</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <form method="POST" action=".">
            {% csrf_token %}
            <div class="modal-body">
              <p>New token</p>
              <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 5%">#</th>
          <th>Description</th>
          <th style="width: 30%">Value</th>
          <th style="width: 5%">Admin</th>
        </tr>
      </thead>
      <tbody>
        {% for token in tokens %}
        <tr>
          <td>{{ token.id }}</td>
          <td>{{ token.description }}</td>
          <td>{{ token.secret }}</td>
          <td><a href="{% url 'tokens.delete' token.id %}" class="btn btn-danger btn-sm" title="delete"><i class="fas fa-trash"></i></a></td>
        </tr>
        {% empty %}
        <tr>
          <td></td>
          <td colspan="3">&lt;Add a token&gt;</td>
        </tr>
        {% endfor %}
      <tbody>
    </table>
  </div>
</div>
{% endblock %}
