{% extends 'Artifactorial/base.html' %}
{% load static %}

{% block title %}My directories{% endblock %}

{% block style %}
    .progress {
      margin-bottom: 0px;
    }
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    {% if user.is_authenticated %}
    <h1>Directories for «{{ user.get_full_name|default:user.username }}»
      <div class="btn-group pull-right">
        <a type="button" class="btn btn-info" href="{% url 'accounts.profile' %}">{{ user.get_full_name|default:user.username }}</a>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'artifacts.root' %}"><span class="glyphicon glyphicon-file"></span> Browse</a></li>
          <li class="disabled"><a href=""><span class="glyphicon glyphicon-folder-open"></span> Directories</a></li>
          <li><a href="{% url 'tokens.index' %}"><span class="glyphicon glyphicon-wrench"></span> Tokens</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'accounts.logout' %}"><span class="glyphicon glyphicon-off"></span> Sign out</a></li>
        </ul>
      </div>
    </h1>
    {% else %}
    <h1>Public directories
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-info" href="{% url 'accounts.profile' %}">Anonymous user</button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'artifacts.root' %}"><span class="glyphicon glyphicon-file"></span> Browse</a></li>
          <li class="disabled"><a href=""><span class="glyphicon glyphicon-folder-open"></span> Directories</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="{% url 'accounts.login' %}"><span class="glyphicon glyphicon-user"></span>Sign in</a></li>
        </ul>
      </div>
    </h1>
    {% endif %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Path</th>
          <th>User</th>
          <th>Group</th>
          <th>Public</th>
          <th>Writable</th>
          <th title="Time to live in days">TTL</th>
          <th>Quota</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        {% for dir in directories %}
        <tr>
          <td><a href="{{ dir.0.get_absolute_url }}">{{ dir.0.path }}</a></td>
          <td>{{ dir.0.user|default:'-' }}</td>
          <td>{{ dir.0.group|default:'-' }}</td>
          <td><span class="label label-{{ dir.0.is_public|yesno:"success,danger" }}">{{ dir.0.is_public|yesno }}</span></td>
          <td><span class="glyphicon glyphicon-{{ dir.1|yesno:"ok,remove" }}"></span></td>
          <td>{{ dir.0.ttl }}</td>
          <td>{{ dir.0.size|filesizeformat }} / {{ dir.0.quota|filesizeformat }}</td>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-{% if dir.0.quota_progress < 50 %}success{% elif dir.0.quota_progress < 90 %}warning{% else %}danger{% endif %} progress-bar-striped" role="progressbar" aria-valuenow="{{ dir.0.quota_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ dir.0.quota_progress }}%;">
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% get_static_prefix %}Artifactorial/js/jquery-3.1.0.min.js"></script>
<script src="{% get_static_prefix %}Artifactorial/js/bootstrap-v3.3.7.min.js"></script>
{% endblock %}
